/*
Esta es la hoja para sobreescribir las Librerias
*/

#nav-brand {
  color: white;
}

#espacioblanco {
  height: 80px;
}

.carta-img {
  height: 167px;
  width: 348px;
}

.img-blog {
  width: 100%;
  height: 35em;
}

.blanco {
  color: white;
}
